<h1 class="text-center">WELCOME</h1>
<h2 class="text-center">to Admiral's Trailer App</h2>
<br><br>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("Admiral-Logo.jpg", :alt => "Admiral Beverage Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("pepsi-new-logo-2023.jpg", :alt => "Pepsi Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Mountain_Dew_logo.png", :alt => "Mt Dew Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("KDP_new_logo.jpg", :alt => "Keurig Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Dr-Pepper-Logo.png", :alt => "Dr Pepper Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("better_aquavist_logo.jpg", :alt => "Aquavista Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Aquafina-Logo-2004.jpg", :alt => "Aquafina Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Polar_logo.png", :alt => "Polar Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("bubly_0.jpg", :alt => "Bubly Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("7Up-Logo.png", :alt => "7Up Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("AW_Root_Beer_logo.png", :alt => "A&W Root Beer Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Canada-Dry-Logo.png", :alt => "Canada Dry Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Crush-Logo.jpg", :alt => "Crush Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("Squirt_Logo.png", :alt => "Squirt Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("sunkist_logo.jpg", :alt => "Sunkist Logo", class: "d-block mx-auto") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("MerchantsCraftLogo1.jpg", :alt => "Merchants Craft Logo", class: "d-block mx-auto") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>

